html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: ProximaNova-Semibold; src: url("fonts/ProximaNova-Semibold.eot"); src: url("fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("fonts/ProximaNova-Semibold.woff") format("woff"), url("fonts/ProximaNova-Semibold.ttf") format("truetype"); font-weight: normal; font-style: normal; }

html { font-size: 62.5%; }

body { font-family: Arial, sans-serif; font-size: 12px; line-height: 1.3; color: black; background: white; }

.gototop { position: fixed; bottom: -20px; right: 20px; border: 3px solid #cccccc; padding: 10px 20px; text-transform: uppercase; color: #cccccc; cursor: pointer; opacity: 0; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.can-gototop .gototop { opacity: 1; bottom: 20px; }

.l { width: 1080px; padding: 0 60px; margin: auto; *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 1150px) { .l { width: 830px; padding: 0 20px; } }
.l .l-top { float: left; margin-right: 270px; margin-bottom: 50px; *zoom: 1; }
.l .l-top:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 1150px) { .l .l-top { float: none; width: 100%; margin-right: 0; } }
.l .l-main { float: left; margin-right: 270px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.l .l-sidebar { float: right; width: 220px; margin-left: -220px; }
@media only screen and (max-width: 700px) { .l .l-sidebar { display: none; } }
.l .l-sidebar__inner { width: 220px; }
@media only screen and (max-width: 1150px) { .l.l_article .l-sidebar { float: left; margin-left: 0; margin-top: 34px; padding-top: 15px; width: 100%; border-top: 1px solid gainsboro; }
  .l.l_article .l-sidebar__inner { width: 100%; } }

.main-wrap { *zoom: 1; position: relative; }
.main-wrap:after { content: " "; display: table; clear: both; }

.header { margin: 30px 0 35px 0; position: relative; }

.header__right { float: left; width: 220px; }

.logo { display: block; background: url('../img/icons-sd13ce0ca9a.png') 0 -27px no-repeat; width: 201px; height: 55px; font: 0/0 a; text-shadow: none; color: transparent; margin: 19px 0 13px; }

.header__date { color: #a6a6a6; font-size: 10px; font-size: 1rem; line-height: 1; text-transform: uppercase; letter-spacing: 0.05em; }

.header__main { margin-left: 220px; padding-left: 100px; border-bottom: 1px solid gainsboro; }

.header__top { margin-bottom: 20px; line-height: 1; text-align: right; text-transform: uppercase; font-size: 10px; font-size: 1rem; font-family: "ProximaNova-Semibold", Arial, sans-serif; font-weight: normal; letter-spacing: 0.1em; }
.header__top a { text-decoration: none; color: #737373; }
.header__top a:hover { color: black; }
.header__top .pda { float: left; }
.header__top .lang { display: inline-block; }
.header__top .lang a { margin-left: 10px; }
.header__top .lang a.is-active { color: black; }
.header__top .send-news { margin-right: 32px; }

.header__search-ico { display: block; float: right; background: url('../img/icons-sd13ce0ca9a.png') 0 -209px no-repeat; width: 17px; height: 17px; cursor: pointer; margin-top: 8px; }
.header__search-ico.is-inactive { background: url('../img/icons-sd13ce0ca9a.png') 0 0 no-repeat; width: 17px; height: 17px; }

.header__topnews { margin: 20px 0 30px; font-size: 0; }
.header__topnews li { display: inline-block; vertical-align: top; width: 28%; line-height: 1.15; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-right: 3.40909%; font-size: 14px; font-size: 1.4rem; }
.header__topnews li:last-child { margin-right: 0; }
@media only screen and (max-width: 1150px) { .header__topnews li { width: 35%; }
  .header__topnews li:last-child { display: none; } }
.header__topnews a { color: #3c3c3c; font-family: "ProximaNova-Semibold", Arial, sans-serif; font-weight: normal; text-decoration: none; }
.header__topnews a i { content: ""; display: none; top: 0; right: 0; background: url('../img/icons-sd13ce0ca9a.png') 0 -485px no-repeat; width: 8px; height: 8px; }
.header__topnews a:hover i { display: inline-block; position: relative; top: -1px; margin-left: 2px; }

.search { display: none; padding: 30px 0; background: #e6e6e6; }

.search__in { font-size: 0; }
.search__in:before { content: ""; display: inline-block; vertical-align: middle; height: 100%; width: 0; font-size: 0; }

.search__input { display: inline-block; vertical-align: middle; width: 74.07407%; max-width: 800px; position: relative; }
@media only screen and (max-width: 900px) { .search__input { width: 550px; } }
.search__input input { width: 100%; height: 40px; padding: 0 155px 0 15px; border: 1px solid #cccccc; color: #3c3c3c; font-size: 15px; font-size: 1.5rem; font-family: Arial; font-weight: normal; background: white; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.search__input input:-ms-input-placeholder { color: #737373; }
.search__input input:-moz-placeholder { color: #737373; }
.search__input input::-moz-placeholder { color: #737373; }
.search__input input::-webkit-input-placeholder { color: #737373; }
.search__input input::placeholder { color: #737373; }
.search__input.search__input_error { width: 440px; }

.search__filter { position: absolute; top: 0; right: 23px; bottom: 0; font-size: 13px; font-size: 1.3rem; color: #3c3c3c; text-decoration: none; line-height: 40px; }
.search__filter:before { content: ""; display: inline-block; background: url('../img/icons-sd13ce0ca9a.png') 0 -579px no-repeat; width: 9px; height: 11px; margin-right: 5px; position: relative; top: 1px; }

.search__btn { display: inline-block; vertical-align: middle; min-width: 120px; height: 40px; margin-left: 20px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background: white; border: 1px solid #a6a6a6; font-family: "ProximaNova-Semibold", Arial, sans-serif; font-weight: normal; font-size: 15px; font-size: 1.5rem; text-transform: uppercase; text-align: center; letter-spacing: 0.1em; }
.search__btn:hover { color: #ed1c24; }

.search__close { float: right; display: inline-block; font-family: "ProximaNova-Semibold", Arial, sans-serif; font-weight: normal; font-size: 10px; font-size: 1rem; line-height: 40px; text-decoration: none; text-transform: uppercase; color: #737373; letter-spacing: 0.1em; }
.search__close:hover { color: black; }
.search__close:before { content: ""; display: inline-block; background: url('../img/icons-sd13ce0ca9a.png') 0 -600px no-repeat; width: 12px; height: 12px; position: relative; top: 2px; margin-right: 6px; }

.footer { margin-top: 70px; border-top: 2px solid #ed1c24; padding-bottom: 30px; }

.footer__topics { margin-top: 12px; padding-bottom: 30px; border-bottom: 1px solid gainsboro; }
.footer__topics ul { font-size: 0; margin-right: -20px; overflow: hidden; }
.footer__topics li { display: inline-block; position: relative; margin-right: 20px; line-height: 2.4; font-size: 11px; font-size: 1.1rem; font-family: "ProximaNova-Semibold", Arial, sans-serif; font-weight: normal; letter-spacing: 0.08em; text-transform: uppercase; }
.footer__topics li:before { content: ""; position: absolute; top: 11px; left: -11px; width: 3px; height: 3px; border-radius: 50%; background: gainsboro; }
.footer__topics li a { text-decoration: none; color: black; }
.footer__topics li a:hover { color: #ed1c24; }

.sponsors { *zoom: 1; font-size: 0; text-align: center; margin-top: 23px; white-space: nowrap; }
.sponsors:after { content: " "; display: table; clear: both; }
.sponsors .sponsors__item { display: inline-block; width: 110px; height: 40px; overflow: hidden; margin-right: 28px; background: gainsboro; }
.sponsors .sponsors__item:last-child { margin-right: 0; }
@media only screen and (max-width: 1150px) { .sponsors .sponsors__item { margin-right: 10px; }
  .sponsors .sponsors__item:last-child { display: none; } }

.footer__bottom { margin-top: 50px; font-size: 14px; font-size: 1.4rem; line-height: 1.4; *zoom: 1; }
.footer__bottom:after { content: " "; display: table; clear: both; }

.footer__copy { margin-top: 30px; float: left; }
.footer__copy i { font-style: normal; color: #ed1c24; }
.footer__copy a { text-decoration: none; color: #ed1c24; }

.footer__stats { float: right; *zoom: 1; }
.footer__stats:after { content: " "; display: table; clear: both; }
.footer__stats strong { display: block; font-weight: normal; }

.footer__stats-item { float: left; margin: 10px 15px 0 0; }
.footer__stats-item:last-child { margin-right: 0; }
.footer__stats-item span { display: block; font-family: "ProximaNova-Semibold", Arial, sans-serif; font-weight: normal; color: #ed1c24; }

.footer__stats-count { background: gainsboro; width: 90px; height: 32px; position: relative; top: 3px; }

.news__pic { float: left; width: 120px; height: 76px; margin: -10px 10px -10px 0; overflow: hidden; }
.news__pic img { display: block; max-width: 100%; }

@media only screen and (max-width: 1150px) { .news__pic ~ p { margin-left: 130px; } }
.news__time { font-size: 12px; font-size: 1.2rem; line-height: 1; color: #a6a6a6; font-family: Arial; font-weight: normal; }

.news__title { display: inline; font-size: 16px; font-size: 1.6rem; font-family: "ProximaNova-Semibold", Arial, sans-serif; font-weight: normal; line-height: 1.375; }
.news__title a { color: black; text-decoration: none; }
.news__title a:hover { color: #ed1c24; }
.news__title:hover { color: #ed1c24; }

.news__updated, .news__type { font-size: 12px; font-size: 1.2rem; line-height: 1; color: #737373; text-transform: uppercase; font-family: Arial; font-weight: normal; letter-spacing: 0.1em; }

.news__counter { font-size: 12px; font-size: 1.2rem; line-height: 1; font-family: "ProximaNova-Semibold", Arial, sans-serif; font-weight: normal; color: #ed1c24; }
.news__counter.news__counter_square { display: inline-block; margin-left: 8px; position: relative; color: white; font-size: 11px; font-size: 1.1rem; }
.news__counter.news__counter_square:after { content: ""; position: absolute; z-index: -1; background: #ed1c24; top: -4px; right: -3px; bottom: -3px; left: -4px; }

.news__views { display: inline-block; position: relative; padding-right: 14px; color: #737373; font-family: "ProximaNova-Semibold", Arial, sans-serif; font-weight: normal; font-size: 12px; font-size: 1.2rem; }
.news__views:after { content: ""; position: absolute; top: 3px; right: 0; background: url('../img/icons-sd13ce0ca9a.png') 0 -280px no-repeat; width: 10px; height: 7px; }

.news { font-size: 15px; font-size: 1.5rem; line-height: 1.4; color: #3c3c3c; *zoom: 1; }
.news:after { content: " "; display: table; clear: both; }
.news li { float: left; margin-bottom: 23px; position: relative; }
.news li:last-child { margin-bottom: 0; }
.news strong { font-weight: normal; }
.news a { text-decoration: none; color: black; }
.news .news__title { padding-top: 2px; }
.news .news__title:hover { color: #ed1c24; }
.news.news_latest { margin-top: 10px; padding-left: 45px; }
.news.news_latest .news__time { position: absolute; top: 4px; left: -45px; }
.news.news_latest .news__title { font-size: 18px; font-size: 1.8rem; }
.news.news_latest .news__pic { margin: 0 10px 0 0; position: relative; top: 5px; }
.news.news_week { line-height: 1.2; }
.news.news_week li { float: none; margin-bottom: 17px; }
.news.news_week li:last-child { margin-bottom: 0; }
.news.news_week .news__time { margin-right: 8px; }
.news.news_week .news__title { margin-right: 8px; font-size: 15px; font-size: 1.5rem; }

.news__separator { width: 100%; height: 1px; margin: 50px 0; background-color: gainsboro; position: relative; }
.news__separator span { position: absolute; z-index: 2; top: -10px; height: 20px; line-height: 20px; padding: 0 16px; background-color: #6a6a6a; font-family: "ProximaNova-Semibold", Arial, sans-serif; font-weight: normal; font-size: 10px; font-size: 1rem; color: white; text-transform: uppercase; letter-spacing: 0.1em; }
.news__separator.news__separator_first { background: none; margin-top: 0; }
.news__separator.news__separator_first span { top: 0; }

.topnews { float: left; width: 360px; margin-right: 40px; }
.topnews .topnews__pic { height: 230px; overflow: hidden; margin-bottom: 12px; }
.topnews .topnews__pic img { display: block; }
.topnews p { margin-top: 10px; font-size: 15px; font-size: 1.5rem; line-height: 1.35; }
.topnews .news__time { margin-right: 8px; }
.topnews .news__title { display: inline; font-size: 26px; font-size: 2.6rem; line-height: 1.15; }

.toplist { margin-left: 400px; *zoom: 1; }
.toplist:after { content: " "; display: table; clear: both; }

.toplist__nav { font-size: 0; margin-bottom: 20px; margin-right: -50px; padding-top: 3px; white-space: nowrap; }
@media only screen and (max-width: 1150px) { .toplist__nav { margin-right: 0; } }
.toplist__nav li { display: inline-block; margin-right: 7px; }
.toplist__nav li:last-child { margin-right: 0; }
.toplist__nav li.is-active a { background: gainsboro; color: black; }
.toplist__nav a { padding: 3px 13px 2px; font-size: 10px; font-size: 1rem; line-height: 1.2; color: #737373; text-transform: uppercase; text-decoration: none; cursor: pointer; letter-spacing: 0.1em; }
.toplist__nav a:hover { color: black; }
.toplist__nav a.is-active { background: gainsboro; color: black; }

.title { display: inline-block; margin-bottom: 15px; font-size: 11px; font-size: 1.1rem; font-family: "ProximaNova-Semibold", Arial, sans-serif; font-weight: normal; font-weight: normal; line-height: 1; text-transform: uppercase; color: #ed1c24; letter-spacing: 0.1em; }

.pagi { text-align: right; margin: 25px 0 50px; padding-bottom: 20px; border-bottom: 1px solid gainsboro; *zoom: 1; }
.pagi:after { content: " "; display: table; clear: both; }
.pagi:last-child { margin-bottom: 0; }

.btn { display: inline-block; height: 24px; border: 1px solid #a6a6a6; line-height: 24px; padding: 0 20px; text-decoration: none; color: black; font-size: 10px; font-size: 1rem; font-family: "ProximaNova-Semibold", Arial, sans-serif; font-weight: normal; letter-spacing: 0.1em; text-transform: uppercase; position: relative; }
.btn:hover { color: #ed1c24; }
.btn.btn_prev { float: left; padding: 0 45px; }
.btn.btn_prev:before { content: ""; position: absolute; top: 8px; left: 9px; background: url('../img/icons-sd13ce0ca9a.png') 0 -393px no-repeat; width: 15px; height: 9px; }
.btn.btn_archive { padding: 0 34px 0 44px; }
.btn.btn_archive:before { content: ""; position: absolute; top: 5px; left: 16px; background: url('../img/icons-sd13ce0ca9a.png') 0 -446px no-repeat; width: 17px; height: 14px; }

.interview .interview__left { float: left; width: 360px; height: 230px; margin-right: 40px; overflow: hidden; }
.interview .interview__left img { display: block; }
@media only screen and (max-width: 1150px) { .interview .interview__left { width: 300px; margin-right: 35px; } }
.interview .interview__right { margin-left: 400px; }
@media only screen and (max-width: 1150px) { .interview .interview__right { margin-left: 335px; }
  .interview .interview__right .news__title { font-size: 15px; font-size: 1.5rem; }
  .interview .interview__right .news { line-height: 1.2; } }
.interview .interview__right .news li:not(:last-child) { margin-bottom: 20px; }
@media only screen and (max-width: 1150px) { .interview .interview__right .news li:not(:last-child) { margin-bottom: 15px; } }
.interview .interview__pic { width: 100%; height: 100%; position: relative; }
.interview .interview__caption { position: absolute; bottom: 0; left: 0; right: 0; background: rgba(0, 0, 0, 0.3); padding: 10px 20px; color: white; }
.interview .interview__caption .news__time { margin-right: 8px; }
.interview .interview__caption .news__title { font-size: 18px; font-size: 1.8rem; }
.interview .interview__caption .news__title:hover { color: #cccccc; }

.b { padding-bottom: 15px; border-bottom: 1px solid gainsboro; margin-bottom: 15px; }
.b:last-child { padding-bottom: 0; border-bottom: none; }
.b a { text-decoration: none; color: #3c3c3c; }
.b .title { line-height: 1.3; }
.b .news__title { line-height: 1.25; }

.banner { width: 100%; height: 300px; overflow: hidden; margin-bottom: 26px; }

.photo-video { color: #3c3c3c; position: relative; margin-bottom: 15px; }
.photo-video .pic { width: 100%; height: 140px; overflow: hidden; margin-bottom: 13px; }
.photo-video .type { position: absolute; z-index: 2; top: 0; right: 0; }
.photo-video .type.type_photo { background: url('../img/icons-sd13ce0ca9a.png') 0 -412px no-repeat; width: 24px; height: 24px; }
.photo-video .type.type_video { background: url('../img/icons-sd13ce0ca9a.png') 0 -344px no-repeat; width: 24px; height: 24px; }
.photo-video img { display: block; max-width: 100%; }
.photo-video .news__title:hover { color: #ed1c24; }
.photo-video .news__time { display: block; font-size: 10px; font-size: 1rem; line-height: 2; text-transform: uppercase; letter-spacing: 0.1em; }

.weather { font-size: 13px; font-size: 1.3rem; line-height: 1.9; }
.weather > ul { max-width: 220px; }
.weather .weather__head { line-height: 1.3; }
.weather .weather__head a:hover { color: #ed1c24; }
.weather .weather__location { display: inline-block; font-family: "ProximaNova-Semibold", Arial, sans-serif; font-weight: normal; font-size: 11px; font-size: 1.1rem; text-transform: uppercase; letter-spacing: 0.1em; }
.weather .weather__location a { color: black; }
.weather .weather__location a:after { content: ""; display: inline-block; background: url('../img/icons-sd13ce0ca9a.png') 0 -192px no-repeat; width: 9px; height: 7px; margin-left: 3px; }
.weather span { display: inline-block; }
.weather .weather__day { width: 100px; }
.weather .weather__ico { float: right; display: inline-block; position: relative; top: 4px; }
.weather .weather__ico.weather__ico_sunny { background: url('../img/icons-sd13ce0ca9a.png') 0 -119px no-repeat; width: 17px; height: 17px; }
.weather .weather__ico.weather__ico_cloudy { background: url('../img/icons-sd13ce0ca9a.png') 0 -92px no-repeat; width: 20px; height: 17px; }
.weather .weather__ico.weather__ico_rain { background: url('../img/icons-sd13ce0ca9a.png') 0 -146px no-repeat; width: 17px; height: 15px; }

.currency { font-size: 13px; font-size: 1.3rem; line-height: 1.9; }
.currency span { display: inline-block; }
.currency .currency__name { width: 80px; }
.currency .currency__buy { width: 50px; text-align: right; }
.currency .currency__sell { width: 50px; margin-left: 10px; text-align: right; color: #737373; }

.opinion .opinion__item { display: block; color: #3c3c3c; *zoom: 1; margin-bottom: 12px; }
.opinion .opinion__item:after { content: " "; display: table; clear: both; }
.opinion .opinion__item:last-child { margin-bottom: 0; }
.opinion .opinion__pic { float: left; width: 52px; height: 52px; border-radius: 50%; overflow: hidden; }
.opinion .opinion__pic img { display: block; max-width: 100%; }
.opinion .opinion__content { margin-left: 70px; }
.opinion .opinion__author { display: block; font-size: 10px; font-size: 1rem; line-height: 2; color: #a6a6a6; text-transform: uppercase; }

.subscription ul { font-size: 0; }
.subscription li { display: inline-block; vertical-align: top; width: 50%; font-family: "ProximaNova-Semibold", Arial, sans-serif; font-weight: normal; font-size: 11px; font-size: 1.1rem; letter-spacing: 0.1em; line-height: 2.2; text-transform: uppercase; }
.subscription a { color: #3c3c3c; }
.subscription a:hover { color: #ed1c24; }
.subscription .ico { position: relative; padding-left: 29px; }
.subscription .ico:before { content: ""; position: absolute; top: 0; left: 0; }
.subscription .ico.ico_fb:before { background: url('../img/icons-sd13ce0ca9a.png') 0 -319px no-repeat; width: 8px; height: 15px; left: 5px; }
.subscription .ico.ico_yt:before { background: url('../img/icons-sd13ce0ca9a.png') 0 -297px no-repeat; width: 16px; height: 12px; }
.subscription .ico.ico_tw:before { background: url('../img/icons-sd13ce0ca9a.png') 0 -258px no-repeat; width: 14px; height: 12px; left: 3px; }
.subscription .ico.ico_rss:before { background: url('../img/icons-sd13ce0ca9a.png') 0 -236px no-repeat; width: 11px; height: 12px; left: 2px; }
.subscription .ico.ico_vk:before { background: url('../img/icons-sd13ce0ca9a.png') 0 -171px no-repeat; width: 19px; height: 11px; }

.sidebar-interview li { margin-bottom: 15px; }
.sidebar-interview li:last-child { margin-bottom: 0; }

.article { margin-top: 25px; margin-left: 90px; color: #3c3c3c; }
.article h1 { display: inline; font-family: "ProximaNova-Semibold", Arial, sans-serif; font-weight: normal; font-size: 30px; font-size: 3rem; line-height: 1.2; }
.article h2 { font-family: "ProximaNova-Semibold", Arial, sans-serif; font-weight: normal; font-size: 18px; font-size: 1.8rem; line-height: 1.2; text-transform: uppercase; letter-spacing: 0.1em; margin-bottom: 15px; }
.article h2:not(:first-child) { margin-top: 30px; }
.article p { font-size: 15px; font-size: 1.5rem; line-height: 1.5; margin-bottom: 22px; }
.article a { text-decoration: none; color: #ed1c24; }
.article a:hover { text-decoration: underline; }
.article blockquote { margin: 22px 0; font-family: "ProximaNova-Semibold", Arial, sans-serif; font-weight: normal; font-size: 18px; font-size: 1.8rem; line-height: 1.33; padding-left: 38px; border-left: 2px solid #ed1c24; }
.article img { display: block; width: 100%; }
.article .lead { font-size: 18px; font-size: 1.8rem; line-height: 1.4; }
.article .article__header { margin-bottom: 40px; }
.article .news__counter { margin-left: 5px; }
.article .article__left { float: left; margin: 0 40px 30px -90px; }
.article .article__photo { width: 360px; }
.article .article__photo figcaption { margin-top: 15px; font-family: "ProximaNova-Semibold", Arial, sans-serif; font-weight: normal; font-size: 10px; font-size: 1rem; line-height: 1.4; text-transform: uppercase; color: #737373; letter-spacing: 0.1em; }
.article .article__aside { width: 360px; padding: 15px 0 20px; border: 1px solid gainsboro; border-width: 1px 0 1px; }
.article .article__aside li { margin-bottom: 15px; }
.article .article__aside li:last-child { margin-bottom: 0; }
.article .article__aside a { color: #3c3c3c; text-decoration: none; }
.article .article__aside a:hover { text-decoration: none; }
.article .article__aside dl { font-size: 13px; font-size: 1.3rem; line-height: 1.54; color: #3c3c3c; }
.article .article__aside dt { display: inline; }
.article .article__aside dd { display: inline; color: #737373; }

.article__info { margin-top: 15px; font-size: 0; }
.article__info li { display: inline-block; font-family: Arial; font-size: 10px; font-size: 1rem; text-transform: uppercase; color: #737373; letter-spacing: 0.08em; padding-right: 10px; border-right: 1px solid gainsboro; margin-right: 10px; }
.article__info li:last-child { padding-right: 0; margin-right: 0; border-right: none; }
.article__info i { font-style: normal; color: #ed1c24; }
.article__info .news__views { font-family: Arial; font-size: 10px; font-size: 1rem; }

.social { overflow: hidden; margin: 30px 0 20px; }
.social.social_placehold { background: gainsboro; color: #a6a6a6; text-transform: uppercase; font-size: 10px; font-family: "ProximaNova-Semibold", Arial, sans-serif; font-weight: normal; text-align: center; line-height: 30px; }

.article__video { background: #f2f2f2; padding: 30px 80px; margin: 30px 0 20px; }
.article__video .article__video-container { width: 560px; height: 315px; overflow: hidden; }
.article__video figcaption { margin-top: 20px; font-family: "ProximaNova-Semibold", Arial, sans-serif; font-weight: normal; font-size: 10px; font-size: 1rem; line-height: 1.4; color: #737373; text-transform: uppercase; letter-spacing: 0.1em; }

.gallery { margin: 30px 0 20px; padding: 30px 0 80px; background: #f2f2f2; position: relative; width: 100%; }
.gallery .gallery__top { padding: 0 40px; position: relative; margin-bottom: 50px; font-size: 0; }
.gallery .gallery__main { position: relative; padding: 0 80px; }
.gallery .gallery__pager .slide { display: inline-block; opacity: 0.5; width: 120px !important; overflow: hidden; margin-right: 10px; cursor: pointer; }
.gallery .gallery__pager .slide:last-child { margin-right: 0; }
.gallery .gallery__pager .slide img { display: block; width: 100%; }
.gallery .gallery__pager .slide.cycle-slide-active { opacity: 1; }
.gallery .gallery__slides { overflow: hidden; }
.gallery .gallery__slides .slide { width: 100%; }
.gallery .gallery__prev, .gallery .gallery__next { display: block; position: absolute; z-index: 100; top: 60px; cursor: pointer; }
.gallery .gallery__prev { background: url('../img/icons-sd13ce0ca9a.png') 0 -551px no-repeat; width: 11px; height: 18px; left: 13px; }
.gallery .gallery__next { background: url('../img/icons-sd13ce0ca9a.png') 0 -523px no-repeat; width: 11px; height: 18px; right: 13px; }
.gallery .gallery__conter { font-size: 15px; font-size: 1.5rem; font-family: Arial; color: #737373; position: absolute; bottom: 43px; right: 80px; }

.article__footer { margin-top: 50px; }
.article__footer .article__footer-news-list a { color: #3c3c3c; text-decoration: none; }
.article__footer .article__footer-news-list li { margin-bottom: 18px; }
.article__footer .article__footer-news-list li:last-child { margin-bottom: 0; }
.article__footer .article__footer-news-list .news__title { margin: 0 5px; font-size: 15px; font-size: 1.5rem; }
.article__footer .article__footer-btns { margin-top: 45px; }
.article__footer .btn_comment { float: left; color: black; margin-right: 20px; font-size: 11px; font-size: 1.1rem; }
.article__footer .btn_comment:hover { color: #ed1c24; text-decoration: none; }
.article__footer .btn_comment span { color: #ed1c24; }
.article__footer .article__footer-bottom { margin-top: 25px; *zoom: 1; color: #737373; font-size: 13px; font-size: 1.3rem; }
.article__footer .article__footer-bottom:after { content: " "; display: table; clear: both; }
.article__footer .article__footer-bottom i { font-style: normal; color: #3c3c3c; }
.article__footer .article__footer-bottom a { color: #3c3c3c; text-decoration: none; }
.article__footer .article__footer-bottom a:hover { color: #ed1c24; }
.article__footer .article__footer-bottom span:nth-child(2n-1) { float: left; }
.article__footer .article__footer-bottom span:nth-child(2n) { float: right; }

.error { text-align: center; margin: 115px 0 220px; }
.error p { font-size: 15px; font-size: 1.5rem; line-height: 1.3; margin: 20px; }
.error p a { color: #ed1c24; text-decoration: none; }
.error .error__title { font-family: "ProximaNova-Semibold", Arial, sans-serif; font-weight: normal; font-size: 48px; font-size: 4.8rem; }
.error .error__subtitle { font-family: "ProximaNova-Semibold", Arial, sans-serif; font-weight: normal; font-size: 26px; font-size: 2.6rem; color: #737373; }
.error .error__search { margin-top: 20px; }
.error .error__search p { margin-bottom: 15px; }

.rss__title { font-family: "ProximaNova-Semibold", Arial, sans-serif; font-weight: normal; font-size: 26px; font-size: 2.6rem; margin-bottom: 30px; }

.rss__subtitle { display: block; color: #3c3c3c; font-size: 18px; font-size: 1.8rem; margin: 17px 15px; }

.rss__list li { margin-bottom: 19px; }
.rss__list li:last-child { margin-bottom: 0; }

.rss__item { text-decoration: none; font-size: 15px; font-size: 1.5rem; color: #3c3c3c; line-height: 1.3; }
.rss__item:hover { color: #ed1c24; }
.rss__item span { display: inline-block; font-family: "ProximaNova-Semibold", Arial, sans-serif; font-weight: normal; color: #ed1c24; font-size: 11px; font-size: 1.1rem; text-transform: uppercase; }
.rss__item span:before { content: ""; display: inline-block; background: url('../img/icons-sd13ce0ca9a.png') 0 -503px no-repeat; width: 10px; height: 10px; margin-right: 5px; }
.rss__item.rss__item_lead { display: block; margin: 30px 0; font-size: 18px; font-size: 1.8rem; }
.rss__item.rss__item_lead span { font-size: 15px; font-size: 1.5rem; }

.text { color: #3c3c3c; font-size: 15px; font-size: 1.5rem; line-height: 1.33; margin-bottom: 35px; }
.text h1, .text h2, .text h3 { font-family: "ProximaNova-Semibold", Arial, sans-serif; font-weight: normal; font-size: 26px; font-size: 2.6rem; line-height: 1.15; color: black; margin-bottom: 15px; }
.text img { float: left; margin: 15px 40px 15px 0; }
.text img:first-child { margin-top: 0; }
.text p { margin-bottom: 15px; }
.text ul { margin: 15px 0; }
.text li { margin-bottom: 15px; }
.text b, .text strong { font-weight: bold; }

@media only screen and (max-width: 700px) { .l .l-sidebar__inner { width: auto; }
  .l .l-sidebar { float: none; width: auto; margin: 0; }
  .l .l-main, .topnews, .interview__right, .interview .interview__left { margin: 0 !important; float: none; width: auto; }
  .interview .interview__left { margin-bottom: 15px !important; }
  .l { width: auto; }
  .gototop { display: none; }
  .footer__copy { float: none; }
  .footer__stats { float: none; margin-top: 10px; }
  .sponsors { display: none; }
  .header__right { float: none; width: auto; text-align: center; }
  .header__right .logo { margin: 0 auto; }
  .header__top-item { float: none !important; }
  .header__top { text-align: left; width: auto; text-align: center; }
  .search__input, .search__input.search__input_error { width: auto; text-align: center; width: 100%; }
  .search__close { position: absolute; right: 20px; top: 3px; font-size: 0; }
  .search__btn { display: block; width: 100%; margin: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
  .toplist { margin-left: 0; margin-top: 20px; }
  .toplist .toplist__nav li { display: block; margin-bottom: 5px; }
  .news__pic { float: none; width: auto; height: auto; }
  .news__pic img { display: block; float: none; margin-bottom: 10px; }
  .news__pic ~ p { margin-left: 0; }
  .header__main { margin: 0; padding: 0; margin-top: 15px; text-align: center; }
  .article { margin-left: 0; padding-top: 0; margin-top: 0; }
  .article .article__video { padding: 10px; margin: 0 0 1em 0; width: auto; height: auto !important; }
  .article .article__video .article__video-container { padding: 10px; width: auto; height: auto; }
  .article .article__video .article__video-container img { display: block; width: 100%; }
  .header__topnews li { display: block; width: auto; }
  .search__filter { display: none; }
  .btn { display: block; margin-bottom: 5px; float: none !important; text-align: center; }
  .article .article__left { width: auto !important; margin: 0 0 1em 0 !important; } }
