// default layout
.l
	width: 1080px
	padding: 0 60px
	margin: auto
	+clr
	+r($res)
		width: 830px
		padding: 0 20px
	.l-top
		float: left
		margin-right: 270px
		margin-bottom: 50px
		+clr
		+r($res)
			float: none
			width: 100%
			margin-right: 0
	.l-main
		float: left
		margin-right: 270px
		+box
	.l-sidebar
		float: right
		width: 220px
		margin-left: -220px

	&.l_article
		+r($res)
			.l-sidebar
				float: left
				margin-left: 0
				margin-top: 34px
				padding-top: 15px
				width: 100%
				border-top: 1px solid $border

.main-wrap
	+clr